In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps

In [2]:
producer = KafkaProducer(bootstrap_servers=[':9092'],
                         value_serializer=lambda x: dumps(x).encode('utf-8'))

In [3]:
producer.send('demo_test_2', value="{'surname': 'Tachafine'}")

In [4]:
df = pd.read_csv("indexProcessed.csv")

In [5]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [6]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
88446,SSMI,1991-04-19,1675.300049,1683.699951,1661.099976,1678.300049,1678.300049,0.0,1862.913054

In [7]:
df.sample(1).to_dict()

{'Index': {22789: 'IXIC'},
 'Date': {22789: '1972-06-23'},
 'Open': {22789: 130.220001},
 'High': {22789: 130.220001},
 'Low': {22789: 130.220001},
 'Close': {22789: 130.220001},
 'Adj Close': {22789: 130.220001},
 'Volume': {22789: 0.0},
 'CloseUSD': {22789: 130.220001}}

In [8]:
df.sample(1).to_dict(orient='records')

[{'Index': '000001.SS',
  'Date': '2000-10-10',
  'Open': 1917.895996,
  'High': 1942.170044,
  'Low': 1917.682983,
  'Close': 1942.149048,
  'Adj Close': 1942.149048,
  'Volume': 0.0,
  'CloseUSD': 310.74384768}]

In [9]:
df.sample(1).to_dict(orient='records')[0]

{'Index': 'GSPTSE',
 'Date': '2005-05-03',
 'Open': 9407.599609,
 'High': 9430.200195,
 'Low': 9367.599609,
 'Close': 9371.0,
 'Adj Close': 9371.0,
 'Volume': 13349380000.0,
 'CloseUSD': 7777.929999999999}

In [10]:
for i in range(100):
    dict_stock = df.sample(1).to_dict(orient='records')[0]
    producer.send('demo_test_2', value=dict_stock)
    sleep(1)

In [13]:
producer.flush()